html {
  box-sizing: border-box;
  font-size: 10px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 3.2rem;
  margin: 0; }

section:nth-child(even) {
  background-color: #f9f8fd; }

/** Navbar **/
.navbar {
  background-color: #005ab3;
  font-size: 1.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3rem 1rem; }
  .navbar .nav-list {
    list-style-type: none;
    display: flex; }
  .navbar .nav-item {
    padding: 1rem 2rem;
    height: 4rem; }
  .navbar .nav-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding-bottom: 2px; }
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: #f9f8fd;
    font-size: 1.6rem;
    border-bottom: 1px solid; }

.home-content {
  color: #fff;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
  background: url("../images/home/dose-media-bU6JyhSI6zo-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3); }
  .home-content__name {
    font-size: 4.8rem;
    margin: 0; }
  .home-content__occupation {
    margin: 0; }
  .home-content__link-buttons-container {
    display: flex;
    justify-content: center;
    padding: 1rem; }
  .home-content__link-buttons {
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0.25rem;
    min-width: 15rem;
    transition: all 0.2s ease 0s; }
  .home-content__link-buttons:hover, .home-content__link-buttons:focus {
    transform: scale(1.1);
    box-shadow: 0 0 3px #464646; }
  .home-content__link-buttons-contact {
    background-color: #005ab3;
    text-decoration: none; }
  .home-content__link-buttons-projects {
    background-color: #1a1a1a;
    text-decoration: none; }

.skills-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .skills-content__title {
    font-size: 2.4rem; }
  .skills-content__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .skills-content__skill {
    font-size: 5rem; }
  .skills-content__skill-card {
    color: #1a1a1a;
    background-color: transparent;
    padding: 1rem;
    width: 10rem; }
  .skills-content__skill-description {
    font-size: 1.2rem;
    padding: 0;
    margin: 0; }
  .skills-content__skill-category {
    font-size: 1.2rem;
    padding: 0;
    margin: 0; }
  .skills-content__skill-item {
    height: 5rem;
    width: 5rem;
    color: #767676; }

.project-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .project-content__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem; }
  .project-content__card {
    border-style: solid;
    border-width: thin;
    border-color: #767676;
    height: 30rem; }
  .project-content__image {
    width: 100%;
    height: 100%; }

.contact-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .contact-content p {
    margin: 0; }
  .contact-content__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: auto;
    text-align: left;
    width: 70%; }
  .contact-content__form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; }
  .contact-content__form-textarea {
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    width: 100%; }
  .contact-content__form-full {
    grid-column: 1 / 3; }
  .contact-content__form-label {
    display: block; }
  .contact-content__form-input {
    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem; }
  .contact-content__form-submit {
    background-color: #005ab3;
    border: 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0.25rem;
    min-width: 15rem;
    transition: all 0.2s ease 0s; }
  .contact-content__form-submit:hover, .contact-content__form-submit:focus {
    transform: scale(1.1);
    box-shadow: 0 0 3px #464646; }
  .contact-content__email {
    margin: 2rem; }
  .contact-content__connect {
    margin: 2rem; }
  .contact-content__connect-card {
    font-size: 5rem;
    margin: 1rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    max-width: 5rem; }
  .contact-content__connect-card:hover, .contact-content__connect-card:focus {
    transform: scale(1.2); }
