html {
  box-sizing: border-box;
  font-size: 10px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0; }

h2 {
  font-size: 3.2rem;
  margin: 0; }

section:nth-child(even) {
  background-color: #f9f8fd; }

/** Navbar **/
.navbar {
  background-color: #767676;
  font-size: 1.4rem;
  height: 3rem;
  list-style-type: none;
  margin: 0;
  padding: 3rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .navbar .nav-item {
    padding-right: 2rem; }
  .navbar .nav-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s; }
  .navbar .nav-link:hover {
    color: #464646; }

.home-content {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh; }
  .home-content__name {
    font-size: 4.8rem;
    margin: 0; }
  .home-content__occupation {
    margin: 0; }
  .home-content__link-buttons-container {
    display: flex;
    justify-content: center;
    padding: 1rem; }
  .home-content__link-buttons {
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0.25rem;
    min-width: 15rem; }
  .home-content__link-buttons-contact {
    background-color: #767676; }
  .home-content__link-buttons-projects {
    background-color: #1a1a1a; }

.skills-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .skills-content__title {
    font-size: 2.4rem; }
  .skills-content__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .skills-content__skill {
    font-size: 5rem; }
  .skills-content__skill-card {
    color: #1a1a1a;
    background-color: transparent;
    padding: 1rem;
    width: 10rem; }
  .skills-content__skill-description {
    font-size: 1.2rem;
    padding: 0;
    margin: 0; }
  .skills-content__skill-category {
    font-size: 1.2rem;
    padding: 0;
    margin: 0; }
  .skills-content__skill-item {
    height: 5rem;
    width: 5rem;
    color: #767676; }

.project-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .project-content__list {
    display: flex;
    justify-content: center; }
  .project-content__card {
    border-style: solid;
    border-width: thin;
    border-color: #767676;
    padding: 1rem;
    margin: 2rem;
    width: 40rem;
    height: 30rem; }

.contact-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .contact-content__container {
    display: flex;
    justify-content: center; }
  .contact-content__email {
    margin: 2rem; }
  .contact-content__connect {
    margin: 2rem; }
  .contact-content__connect-card {
    font-size: 5rem; }
  .contact-content__connect-item {
    height: 5rem;
    width: 5rem; }
