/** Navbar **/
.nav {
  background-color: transparent;
  font-size: 1.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3rem 1rem;
  transition: all 0.3s ease;
  z-index: 10; }
  .nav--active {
    background-color: #005ab3;
    transition: all 0.3s ease; }
  .nav__list {
    list-style-type: none;
    display: flex; }
  .nav__item {
    padding: 1rem 2rem;
    height: 4rem; }
  .nav__link {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s; }
    .nav__link:hover, .nav__link:focus {
      color: #f9f8fd;
      font-size: 1.6rem;
      background-color: #005ab3;
      padding: 1rem;
      border-radius: 2.5rem; }
    .nav__link--active:hover, .nav__link--active:focus {
      color: #005ab3;
      background-color: #fff; }
    .nav__link--in-view {
      padding-bottom: 0.1rem;
      border-bottom: 1px solid; }
    .nav__link--in-view:hover, .nav__link--in-view:focus {
      border-bottom: none; }

.menu-btn {
  cursor: pointer;
  position: absolute;
  color: #000;
  top: 15px;
  right: 30px;
  z-index: 20;
  display: none; }

@media (max-width: 768px) {
  body {
    overflow-x: hidden; }
  .menu-btn {
    display: block;
    position: fixed;
    color: #fff; }
    .menu-btn:hover {
      opacity: 0.5; }
  .nav__list {
    position: absolute;
    color: #fff;
    right: 0px;
    height: 100vh;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    margin: 0; }
    .nav__list--menu {
      transform: translateX(0%); }
    .nav__list--active {
      background-color: #005ab3;
      transition: all 0.3s ease; }
  .nav__link {
    opacity: 0; }
  .nav i {
    display: none; } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

.home-content {
  color: #fff;
  text-align: center;
  padding-top: 30vh;
  padding-bottom: 30vh;
  background: url("../images/home/dose-media-bU6JyhSI6zo-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3); }
  .home-content__name {
    font-size: 4.8rem;
    margin: 0; }
  .home-content__occupation {
    margin: 0; }
  .home-content__link-buttons-container {
    display: flex;
    justify-content: center;
    padding: 1rem; }
  .home-content__link-buttons {
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0.25rem;
    min-width: 15rem;
    transition: all 0.2s ease 0s; }
  .home-content__link-buttons:hover, .home-content__link-buttons:focus {
    transform: scale(1.1);
    box-shadow: 0 0 3px #464646; }
  .home-content__link-buttons-contact {
    background-color: #005ab3;
    text-decoration: none; }
  .home-content__link-buttons-projects {
    background-color: #1a1a1a;
    text-decoration: none; }

.skills-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .skills-content__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .skills-content__skill {
    font-size: 5rem; }
  .skills-content__skill-card {
    color: #1a1a1a;
    background-color: transparent;
    padding: 1rem;
    width: 10rem; }
  .skills-content__skill-description {
    font-size: 1.2rem;
    padding: 0;
    margin: 0; }
  .skills-content__skill-category {
    font-size: 1.2rem;
    padding: 0;
    margin: 0; }
  .skills-content__skill-item {
    height: 5rem;
    width: 5rem;
    color: #767676; }

.project-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .project-content__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem; }
  .project-content__card {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative; }
    .project-content__card--overlay::before {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #005ab3;
      opacity: 0;
      transition: all 0.5s; }
    .project-content__card--overlay:hover::before {
      opacity: 0.8; }
  .project-content__card-details {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0; }
    .project-content__card-details:hover {
      opacity: 1;
      z-index: 5; }
  .project-content__image {
    width: 100%;
    height: 100%;
    vertical-align: top; }

@media (max-width: 1200px) {
  .project-content__list {
    grid-template-columns: 1fr; } }

@media (max-width: 768px) {
  .project-content__card {
    height: 350px; }
  .project-content__image {
    object-fit: cover; } }

@media (max-width: 576px) {
  .project-content__card {
    height: 200px; }
  .project-content__card-about {
    display: none; }
  .project-content__image {
    object-position: top; } }

.contact-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .contact-content p {
    margin: 0; }
  .contact-content__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin: auto;
    text-align: left;
    width: 70%; }
  .contact-content__form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; }
  .contact-content__form-textarea {
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    width: 100%; }
  .contact-content__form-full {
    grid-column: 1 / 3; }
  .contact-content__form-label {
    display: block; }
  .contact-content__form-input {
    font-family: 'Raleway', sans-serif;
    padding: 1rem 1rem 0.5rem 1rem;
    width: 100%; }
  .contact-content__form-submit {
    background-color: #005ab3;
    border: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0.25rem;
    min-width: 15rem;
    transition: all 0.2s ease 0s; }
  .contact-content__form-submit:hover, .contact-content__form-submit:focus {
    transform: scale(1.1);
    box-shadow: 0 0 3px #464646; }
  .contact-content__email {
    margin: 2rem; }
  .contact-content__connect {
    margin: 2rem; }
  .contact-content__connect-card {
    font-size: 5rem;
    margin: 1rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    max-width: 5rem; }
  .contact-content__connect-card:hover, .contact-content__connect-card:focus {
    transform: scale(1.2); }

@media (max-width: 992px) {
  .contact-content__container {
    grid-template-columns: 1fr; }
  .contact-content__form {
    grid-template-columns: 1fr; }
  .contact-content__form-full {
    grid-column: auto; } }

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 3.2rem;
  margin: 0; }

section:nth-child(even) {
  background-color: #f9f8fd; }

.anchor {
  padding-top: 60px;
  margin-top: -60px; }
