// Colors
$primary-color: #005ab3;
$secondary-color: #767676;
$light-gray-color: #f9f8fd;
$dark-color: #1a1a1a;
$shadow-color: #464646;

// Screen sizes
$extra-small-screen: 576px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
