.project-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
  }

  &__card {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;

    &--overlay {
      &::before {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $primary-color;
        opacity: 0;
        transition: all 0.5s;
      }

      &:hover::before {
        opacity: 0.8;
      }
    }
  }

  &__card-details {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;

    &:hover {
      opacity: 1;
      z-index: 5;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}

@media (max-width: $large-screen) {
  .project-content {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: $small-screen) {
  .project-content {
    &__card {
      height: 350px;
    }

    &__image {
      object-fit: cover;
    }
  }
}

@media (max-width: $extra-small-screen) {
  .project-content {
    &__card {
      height: 200px;
    }

    &__card-about {
      // visibility: hidden;
      display: none;
    }

    &__image {
      object-position: top;
    }
  }
}
