.project-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // grid-template-columns: repeat(4, 1fr);
    // gap: 3rem;
    max-width: 150rem;
    margin: auto;
    // margin-top: 2rem;
  }

  &__card {
    box-shadow: 2px 4px 8px 0 rgba(70, 70, 70, 0.3);
    margin: 1rem;
    position: relative;
    width: 50rem;

    &--overlay {
      &::before {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $primary-color;
        opacity: 0;
        transition: all 0.5s;
      }

      &:hover::before {
        opacity: 0.95;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }

  &__card-details {
    color: white;
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 1rem 2rem;
    opacity: 0;

    &:hover {
      opacity: 1;
      z-index: 5;
    }
  }

  &__card-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }

  &__card-tech {
    margin: 0;
  }

  &__link-buttons-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
}

@media (max-width: $large-screen) {
  .project-content {
    &__list {
      width: 90%;
    }

    &__card {
      width: 40rem;
    }
  }
}

@media (max-width: $medium-screen) {
  .project-content {
    &__card {
      width: 70%;
    }
  }
}

@media (max-width: $small-screen) {
  .project-content {
    &__card {
      width: 90%;
    }
  }
}

@media (max-width: $extra-small-screen) {
  .project-content {
    &__card {
      width: 100%;
    }

    &__card-title {
      font-size: 2rem;
      text-align: center;
    }

    &__card-tech {
      display: none;
    }
  }
}
