.btn {
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem;
  margin: 0.25rem;
  min-width: 15rem;
  transition: all 0.2s ease 0s;
  text-decoration: none;

  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0 0 3px $shadow-color;
  }

  &--primary {
    background-color: $primary-color;
  }

  &--dark {
    background-color: $dark-color;
  }
}

.element-focus {
  opacity: 1;
}
