html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3.2rem;
  margin: 0;
}

section:nth-child(even) {
  background-color: #f9f8fd;
}

/** Navbar **/
.navbar {
  background-color: #005ab3;
  font-size: 1.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3rem 1rem;

  .nav-list {
    list-style-type: none;
    display: flex;
  }

  .nav-item {
    padding: 1rem 2rem;
    height: 4rem;
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding-bottom: 2px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #f9f8fd;
    font-size: 1.6rem;
    border-bottom: 1px solid;
  }
}

// Home Section
.home-content {
  color: #fff;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
  background: url('../images/home/dose-media-bU6JyhSI6zo-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);

  &__name {
    font-size: 4.8rem;
    margin: 0;
  }

  &__occupation {
    margin: 0;
  }

  &__link-buttons-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  &__link-buttons {
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0.25rem;
    min-width: 15rem;
    transition: all 0.2s ease 0s;
  }

  &__link-buttons:hover,
  &__link-buttons:focus {
    transform: scale(1.1);
    box-shadow: 0 0 3px #464646;
  }

  &__link-buttons-contact {
    background-color: #005ab3;
    text-decoration: none;
  }

  &__link-buttons-projects {
    background-color: #1a1a1a;
    text-decoration: none;
  }
}

// Skills section
.skills-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__title {
    font-size: 2.4rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__skill {
    font-size: 5rem;
  }

  &__skill-card {
    color: #1a1a1a;
    background-color: transparent;
    padding: 1rem;
    width: 10rem;
  }

  &__skill-description {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  &__skill-category {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  &__skill-item {
    height: 5rem;
    width: 5rem;
    color: #767676;
  }
}

// Project Section
.project-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }

  &__card {
    border-style: solid;
    border-width: thin;
    border-color: #767676;
    height: 30rem;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}

// Content Section
.contact-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  p {
    margin: 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: auto;
    text-align: left;
    width: 70%;
  }

  &__form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__form-textarea {
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    width: 100%;
  }

  &__form-full {
    grid-column: 1 / 3;
  }

  &__form-label {
    display: block;
  }

  &__form-input {
    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
  }

  &__form-submit {
    background-color: #005ab3;
    border: 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0.25rem;
    min-width: 15rem;
    transition: all 0.2s ease 0s;
  }

  &__form-submit:hover,
  &__form-submit:focus {
    transform: scale(1.1);
    box-shadow: 0 0 3px #464646;
  }

  &__email {
    margin: 2rem;
  }

  &__connect {
    margin: 2rem;
  }

  &__connect-card {
    font-size: 5rem;
    margin: 1rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    max-width: 5rem;
  }

  &__connect-card:hover,
  // todo not transforming with focus
  &__connect-card:focus {
    transform: scale(1.2);
  }

  // &__connect-item {
  //   // height: 5rem;
  //   // width: 5rem;
  // }
}
