@import 'config';
@import 'nav';
@import 'home';
@import 'skills';
@import 'projects';
@import 'contact';

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3.2rem;
  margin: 0;
}

section:nth-child(even) {
  background-color: $light-gray;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}
